* {
    margin: 0;
    padding: 0;
    block-size: border-box;    
}

:root {
    --option-height: 500px; 
    --option-width: 60px;
    --gutter: 10px;
    --radius: 1.875rem;
    --bg: #f5f5f5;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: #1f2020;
    }
}

body {
    background-color: var(--bg);
    min-width: 320px;
}

.wrapper {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.options {
    display: flex;
    flex-direction: row;
    min-width: 480px;
    max-width: calc(var(--total-options) * 145px);
    width: 100%;
    height: var(--option-height);

}

.option {
    background-color: color-mix(in srgb, var(--bg), CanvasText 10%);
    margin: var(--gutter);
    flex-grow: 2;
    border-radius: var(--radius);
    flex: 0 0 var(--option-width);
    transition: flex-grow 1.25s cubic-bezier(.05, .81, .33, .98);
    background-position: center;
    background-size: cover;

}

.option:not(.active) {
    cursor: pointer;
}

.option.active {
    flex-grow: var(--total-options);
}

@media (max-width: 768px) {
    .options {
        flex-direction: column;
        min-height: 100vh;
        min-width: auto;
    }

}